SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GMAIL_USER=mfweggemans@gmail.com
GMAIL_APP_PASSWORD=
ALERT_FROM_EMAIL="Matthijs Weggemans" <mfweggemans@gmail.com>
ANTHROPIC_API_KEY=
TEST_EMAIL=
# flags
DRY_RUN=false
ENRICH=true
